# Dev pooled pycache folder, based on PYTHONPYCACHEPREFIX environment variable.
.dev-pycache/

# Virtual environment
.venv/

# Environment
.env

# RSA Keys
*.p8
*.pub

parakeet-tdt-0.6b-v2
models/parakeet/
.docker-data/
*.swp
.DS_Store

# JOSS paper build artifacts
paper/jats/
paper/paper.pdf
